body {background-color: pink;}

.rojoletra{color: red; font-size: xx-large; text-decoration: underline; text-align: center;}

.greenletra{color: green; font-size: xx-large; text-decoration: underline; text-align: center;}

.textonegro{font-size: large;}

.fotodepizza{width: auto; width: auto;}
